<h1>Fetchr is running? — <%= SocialFetchr.running? %></h1>

<p>Twitter Account Status</p>
<p>State</p>
<p><%= button_to "Connect", "/auth/twitter/", method: "get" %></p>

<h2>Adapters' State</h2>
<p>Redbooth</p>
<p>State</p>
<p><%= button_to "Connect", "/auth/redbooth/", method: "get" %></p>
<p><%= link_to "Configure", edit_redbooth_settings_path %></p>


<% if @manager.ready_to_start? %>
  <p><%= button_to "Start", start_fetchr_path, method: "post" %></p>
  <p><%= button_to "Import all Previous", import_and_start_fetchr_path, method: "post" %></p>
<% end %>
